#wrapperinside {
    
    transition: all .1s ease 0.1s;
    height: 85%
}

#sidebar-wrapper {
    margin-left: -180px;
    left: 70px;
    width: 150px;
    background: #09192A;
    position: absolute;
    z-index:200;
    transition: all .4s ease 0s;
    display:none;
    height:inherit;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 20px;
    margin-left: 0;
    width: 100%;
    height: auto;

}
#wrapperinside.active {
    padding-left: 130px;
}
#wrapperinside.active #sidebar-wrapper {
    left: 200px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: underline;
    width: 150px;
    background: #09192A;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  cursor : pointer;
  background: rgba(255,255,255,0.2);
  text-decoration: underline;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
   padding-right: 10px;
   padding-top:20px;
}
.sub_icon
{
    
   padding-right: 10px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapperinside {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapperinside.active {
    padding-left: 150px;
}
#wrapperinside.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}